<?xml version="1.0"?>
<configuration>  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="oDataHost" value="https://azus.priority-software.com/azpr1"/>
    <add key="tabulaini" value="tabpe03d.ini"/>
    <add key="ouser" value="apiuser"/>
    <add key="opass" value="123456"/>
    <add key="environment" value="a071219"/>
  </appSettings>
</configuration>